asgiref==3.7.2
backoff==2.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==7.1.2
cloudscraper==1.2.71
deckar01-ratelimit==3.0.2
deepl==1.15.0
Django==4.2.5
django-cors-headers==4.2.0
djangorestframework==3.14.0
eng-to-ipa==0.0.2
-e git+https://github.com/yeahwhat-mc/goslate@d6d511a9c001fe0b5c1cf947fd650770e9794f1d#egg=goslate
idna==3.4
libretranslatepy==2.1.1
lxml==4.9.3
PyDictionary==2.0.1
pyparsing==3.1.1
pytz==2023.3.post1
requests==2.31.0
requests-toolbelt==1.0.0
soupsieve==2.5
sqlparse==0.4.4
translate==3.6.1
tzdata==2023.3
urllib3==2.0.4
whitenoise==6.5.0
wordhoard==1.5.4
